<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.duojj.mapper.enrolmentMapper">

	<insert id="tuteeLectureRegister">
		insert into tbl_enrolment(user_id,enrolment_classname,enrolment_class_id)
		values(#{user_id},#{enrolment_classname},#{enrolment_class_id});
	</insert>

	<select id="getEnrolmentLecture" parameterType="java.lang.String" resultType="LectureVO">
		select distinct tbl_class.* from tbl_enrolment join tbl_class
			on tbl_class.class_id = tbl_enrolment.enrolment_class_id
		where tbl_enrolment.user_id =#{user_id} and class_endday >= curdate()
	</select>
	
	<select id="checkLecture" parameterType="EnrolmentVO" resultType="int">
		select enrolment_class_id from tbl_enrolment
		where enrolment_class_id = #{enrolment_class_id} and user_id = #{user_id}
	</select>
</mapper>

