<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.duojj.mapper.userMapper">

	<select id="login" resultType="UserVO">
		select user_id, user_name, user_auth, user_sessionkey
			from tbl_user
		where user_id = #{user_id} and user_pw = #{user_pw}
	</select>
	
	<update id="keepLogin">
		update tbl_user
			set user_sessionlimit = #{user_sessionlimit}
		where user_id = #{user_id}
	</update>
	
	<select id="checkUserWithSessionKey" resultType="UserVO">
		select * 
			from tbl_user
		where user_sessionkey = #{user_sessionkey} and user_sessionlimit > now()
	</select>
	
	<select id="checkUserTutorAuth" resultType="Integer">
		select user_auth 
			from tbl_user
		where user_sessionkey = #{user_sessionkey}
	</select>
	
	<select id="getUserInfoFromTutorId" resultType="UserVO">
		select (user_id, user_name, user_image, user_status, user_youtube, user_auth)
			from tbl_user
		where user_id = #{user_id}
	</select>
	
	<insert id="RegistertUser">
		   insert into tbl_user (user_id, user_pw, user_name, user_birth, user_image, user_sex, user_status, user_youtube, user_auth, user_sessionkey)
 		   values(#{user_id}, #{user_pw}, #{user_name}, #{user_birth}, #{user_image}, #{user_sex}, #{user_status}, #{user_youtube}, #{user_auth}, #{user_sessionkey});
	</insert>
	
</mapper>
